.mySwiper2 {
  height: 520px;
  overflow: hidden;
  user-select: none;
}

.mySwiper2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  height: 100px;
  margin-top: 22px;
}

