.register-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--secondary-gradient);
    user-select: none;
}


.register-wrapper{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-wrapper{
    display: flex;
    flex-direction: row;
}

.register-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 16px;
    padding: 70px 70px;
    border-radius: 4px;
    background-color: white;
}

.register-form h3{
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: var(--dark-gray);
    font-weight: 700;
}

.register-form > div{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
    font-weight: 400;
}

.register-form form{
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}

.register-form > div a{
    text-decoration: underline;
}


.login-row, .password-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 4px;   
}

.login-row label, .password-row label{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.login-row input, .password-row input{
    color: var(--dark-gray-3);
    background-color: #F5F5F5;     
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    width: 100%;
}

.login-row input:focus, .password-row input:focus{
    outline: none;
    border: none;
}

.forgot-password{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 500;
    text-decoration: underline;
}

.register-button{
    background-color: var(--primary);
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    width: 100%;
} 

.auther-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;   
}


.auther-login img{
    cursor: pointer;
}

.margin-top{
    margin-top: 25%;
}