.collection-destach {
    width: 100%;
    height: 25dvh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.collection-container {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection-title {
    font-family: var(--fonte-principal);
    color: var(--dark-gray-2);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.75;
    text-align: center;
}

.collection-row {
    width: 60%;
    height: calc(100% - 42px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    
}

.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px; /* ajuda no scroll no mobile */
    margin: 0 8px;
}

.collection-icon {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
}

.collection-icon > * {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease-in-out;
    color:#8F8F8F
    
}

.collection-icon > *:hover {
  transform: scale(1.2);
  color: var(--primary);
}

.item-text {
    margin-top: 1rem;
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--dark-gray-2);
    font-weight: 700;
}



@media (max-width: 500px) {
    
    
    
    .collection-row {
        width: 100%;              /* ocupa toda a largura */
        justify-content: flex-start;
        overflow-x: auto;         /* rolagem horizontal */
        flex-wrap: nowrap;        /* impede quebra */
        padding: 8px 0;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* suaviza no iOS */
    }

    .collection-item {
        min-width: 120px;         /* fica maior */
        flex: 0 0 auto;           /* impede de encolher */
        scroll-snap-align: center;
    }

    .collection-icon > img {
        width: 80px;              /* ícones maiores no mobile */
        height: 80px;
    }

    .collection-row::-webkit-scrollbar {
        display: none;   /* some a barra no mobile */
    }
}
