.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.wrapper{
    width: 90%;

}


.content-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.filter-container{
    width: 15%;
}


.grid-container{
    width: 85%;
}