.discount-alert{
  border-radius: 29px;
  padding: 10px 20px;
  height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 7%;
  left: 5%;

  background-color: #E7FF86;
  font-family: var(--fonte-principal);
  font-weight: 700;
  color: var(--dark-gray-2);

  z-index: 1;
}