.product-card{
    width: 95%;
    height: 95%;

    background-color: #F8F8FE;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    transition: transform 0.3s ease-in-out;
}

.product-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.product-card-image{
    background-color: white;
    width: 100%;
}


.product-card-description{
    width: 100%;
}


.product-card-category{
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.product-name{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
}

.price-row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.price{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: var(--light-gray);
    text-decoration: line-through;
}

.discount{
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: black;
}


@media screen and (max-width: 500px) {
    
    .price-row{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }


}