.product-grid-container{
    width: 100%;
    min-height: 70dvh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #F8F8FE;;
}


.product-grid-wrapper{
    width: 90%;
    height: 100%;

    
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    grid-auto-rows: auto;

}



@media screen and (max-width: 500px) {
    .product-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 2rem;
    }
}