.product-grid-container{
    width: 100%;
    min-height: 70dvh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    

    padding: 1rem 0rem 1rem 0rem;
    background-color: #F8F8FE;

    
}

.grid-wrapper{
    width: 90%;
    background-color: #F8F8FE;
    margin: 0 auto;
} 

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row p {
    color: var(--dark-gray-2);
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px; 
}

.row a{
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;   
}

.icon{
    margin-left: 10px;
}

.product-grid-container {
    width: 100%;
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    
}

.grid-wrapper {
    width: 90%;
    margin: 0 auto;
}

.sneakers-grid {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    column-gap: 40px;
    row-gap: 30px;
    padding: 30px 0;
    justify-items: center;
   
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 500px) {
    .sneakers-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}