.product-grid-container{
    width: 100%;
    min-height: 70dvh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /* padding: 1rem 0rem 1rem 0rem; */
    /* background-color: #F8F8FE; */

    background-color: aqua;
}

.grid-wrapper{
    width: 90%;
    background-color: #F8F8FE;
} 

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row p {
    color: var(--dark-gray-2);
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px; 
}

.row a{
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;   
}

.icon{
    margin-left: 10px;
}

.sneakers-grid{
    
}