.container{
    width: 100%;
    height: auto;
    background-color: #F8F8FE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.wrapper{
    width: 90%;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;

    padding: 1rem 0rem;
}

.swiperContainer{
    width: 48%;
    background-color: #F8F8FE;
    user-select: none;
}

.informationContainer{
    width: 48%;
    background-color: #F8F8FE;

    display: flex;
    flex-direction: column;
    gap: 19px;
}



.productName{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: var(--dark-gray);
}

.productSpan{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: var(--dark-gray-3);
}

.productAvaliation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.productStar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--warning);
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    gap: 5px;
}

.avaliationCount{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: var(--light-gray);
}

.productStar img{
    width: fit-content;
    height: fit-content;
}

.productPrice{
   display: flex;
   flex-direction: row; 

   align-items: center;
   justify-items: center;

   gap: 10px;
}

.priceWrapper{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.moeda{
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.75px; 
   color: var(--dark-gray-2);
}

.price{
   font-weight: 700;
   font-size: 32px;
   line-height: 36px;
   letter-spacing: 1px;
   color: var(--dark-gray-2); 
}

.cents{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2);
}

.tash{
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.75px;
   text-decoration: line-through; 
   color: var(--light-gray-2);
   margin-left: 15px;
}

.productDescription{

}

.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--light-gray);
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--dark-gray-2); 
}

.sizeSelector{

}

.sizeHead{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: var(--light-gray); 
}


.sizeRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.sizeOption{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;


    border: solid 1px var(--light-gray);
    border-radius: 4px;

    padding: 14px;
    cursor: pointer;
}

.colorOption{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    background-color: aqua;
}



.buttonContainer{
    width: 220px;
}

@media screen and (max-width: 580px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0rem;
    }

    .swiperContainer{
        width: 100%;
    }

    .informationContainer{
        width: 100%;
    }



}