.footer-container{
    width: 100%;
    height: 50dvh;

    background-color: var(--dark-gray);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    width: 90%;
    height: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}


.footer-top{
    width: 100%;
    height: calc(100% - 34px);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    
}


.logo-column{
    width: 20%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;


    
    
}

.logo-text{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.social-row{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
    
}



.info-column{

}

.category-column{

}

.contact-column{
    
}


.footer-bottom{
    width: 100%;
    color: white;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    
    
}