.square-destach {    
  width: 100%;
  height: 40dvh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.square-container {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.square-title {
  font-family: var(--fonte-principal);
  color: var(--dark-gray-2);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.75;
}

.square-card-container {
  width: 100%;
  height: calc(100% - 28px);
    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Card base (genérico para todos) */
.square-card {
  position: relative;        
  width: 30%;
  height: calc(100% - 28px);
  border-radius: 8px;        
  overflow: hidden;         
  z-index: 0;   
}

/* Pseudo-elemento compartilhado */
.square-card::before {
  content: "";                             
  position: absolute;                     
  inset: 0;                                
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);                     
  transform-origin: center center;         
  transition: transform .6s ease, filter .6s ease; 
  will-change: transform;                  
  border-radius: inherit;                  
  z-index: 0;                              
}

/* Variantes de imagens */
.square-card--supreme::before {
  background-image: url('../../assets/images/collection-1.png'); 
}

.square-card--adidas::before {
  background-image: url('../../assets/images/collection-2.png'); 
}

.square-card--bass::before {
  background-image: url('../../assets/images/collection-3.png'); 
}

/* Garante que os elementos dentro do card fiquem acima da imagem */
.square-card > * {
  position: relative;
  z-index: 1;
}

.button-configuration {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  left: 5%;
}

/* Hover no desktop */
@media screen and (min-width: 800px) {
  .square-card:hover::before {
    transform: scale(1.10);      
    filter: brightness(1.05);    
  }
}

/* Responsividade mobile */
@media screen and (max-width: 768px) {
  .square-destach {
    width: 100%;
    height: 95dvh;
  }
    
  .square-card-container {
    width: 100%;
    height: calc(100% - 36px);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
    
  .square-card {  
    width: 100%;
    height: 30%;
    border-radius: 8px;
    overflow: hidden;
  }

  
}

